<template>
  <div class="wastim-simulator-component" name="wastim-simulator-component">
    <div class="wa-button-container">
      <div v-for="mode in this.modes" :key="mode.name"
        class="wa-button"
        @click="onModeChange(mode)">
        <img :src="mode.imageurl"
          class="wa-button-image">
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./WAstimSimulator.ts">
</script>

<style lang="css">
div.wastim-simulator-component {
  display: flex;
  flex: 1;
  background: #fff;
}

div.wastim-simulator-component img {
  flex: 1;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
}

div.wastim-simulator-component .o-wastim {
  flex: 1;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  height: 77%;
}

div.wastim-simulator-component .wa-div {
  display: flex;
  flex: 10;
}

div.wastim-simulator-component .wa-div-ruler {
  display: flex;
  flex-grow: 1;
}

div.wastim-simulator-component .o-ruler {
  flex: 0;
}
.wa-button-container {
  clear: both;
  height: 48px;
  display: flex;
  margin: 3px;
  cursor: pointer;
}

.wa-button {
  height: 48px;
  width: 48px;
  padding: 8px;
  background-color: grey;
}

.wa-button-image {
  margin: auto;
  min-height: 32px;
  max-height: 32px;
  min-width: auto;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimizeQuality;
  padding: 4px;
  background: green;


}
</style>
